.members-icon {
    cursor: pointer;
}

.grid-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.grid-header {
    width: 100vw;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-radius: 0 0 0 1.5rem;
    border-bottom: 1px solid lightgrey;
    padding: 0 0.5rem;
    z-index: 0;
    /* background: linear-gradient(45deg, black, #000000ab); */
}

.logo-container-grid {
    width: 3rem;
    height: 3rem;
}

.logo-container-grid img {
    width: 3rem;
}

.members-container {
    background: #80808012;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1;
}

.group-link {
    margin: auto;
    padding: 0.5rem 0.6rem 0.4rem;
    border-radius: 10rem;
    box-shadow: 1px 1px 3px 0px lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
}

.bounce {
    animation: bounce 0.7s;
}

@keyframes bounce {
    0% {font-size: 0.8rem}
    20% {font-size: 1.4rem}
    40% {font-size: 0.9rem}
    55% {font-size: 1.1rem}
    75% {font-size: 0.9rem}
    100% {font-size: 1rem}

}

.group-link svg {
    color: var(--theme);
}

.group-link textarea {
    position: absolute;
    z-index: -1;
    border: none;
    font-size: 0.5rem;
    color: white;
}

.link-copied {
    position: absolute;
    background: #363636;
    color: lightgrey;
    padding: 0.4rem;
    padding-top: 0.6rem;
    font-size: 0.7rem;
    border-radius: 0.3rem;
    font-weight: bold;
    z-index: -1;
    animation: msgDown 2s;
}

@keyframes msgDown {
    0% {transform: translateY(0rem)}
    20% {transform: translateY(2.5rem)}
    60% {transform: translateY(2.5rem); opacity: 1}
    100% {transform: translateY(2.5rem); opacity: 0}
}

.timeslot-members {
    margin: 0 0 0.5rem;
    height: 1rem;
    font-size: 0.8rem;
    color: grey;
}

.chat-container {
    background: #e4e4e4;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.chat-icon {
    color: lightgrey;
}

.members-icon {
    font-size: 1.2rem;
    /* color: var(--theme); */
}

.members-icon span {
    margin-left: 2px;
    font-size: 1rem;
    font-weight: bold;
    color: grey;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 12rem);
    align-content: baseline;
    position: relative;
    margin-bottom: 1rem;
}

.timeslot {
    background: #e6e6e6;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeslot span {
    font-size: 0.6rem;
}

.timeslot-container {
    width: calc(100%/7);
    height: calc(100%/24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 0.5rem;
    position: relative;
}

.grey {
    background: #6b6b6b;
}

.green {
    background: #7aef8d;
}
.blue {
    background: #75cdff;
}
.yellow {
    background: #ffed55;
}
.red {
    background: #ff8e8e;
}

.grid-days {
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    height: 1rem;
}

.grid-days div {
    width: calc(100% / 7);
    margin: 0 1%;
}

.grid-times {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 0.2%;
}

.grid-times div {
    min-height: calc(100%/24);
    transform: translateX(-1.2rem);
    width: 1rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.grid-footer {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    bottom: 0;
    padding: 2rem;
    border-top: 1px solid lightgrey;
    border-radius: 0 1.5rem 0 0;
    /* background: black; */
}

.switch-view-button {
    padding: 0.4rem 0.6rem 0.2rem;
    color: black;
}

.update-button {
    border-radius: 20px;
    padding: 0.4rem 0.6rem 0.2rem;
}

.update-button.vote, .update-button.availability {
    color: var(--theme);
}

.footer-section {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-button {
    cursor: pointer;
}

.footer-text {
    font-size: 0.7rem;
}

.details-box {
    position: absolute;
    top: 10rem;
    z-index: 10;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 2px lightgrey;
    font-size: 0.8rem;
    text-align: left;
    width: 12rem;
    max-height: 20rem;
}

.details-box-members {
    margin: 0.2rem 0;
}

.popup-close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(0.5rem, -1rem);
    background: white;
    padding: 0.2rem;
    font-family: monospace;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 10rem;
    box-shadow: 0px 0px 3px 1px lightgrey;
    color: grey;
    cursor: pointer;
}

.details-container {
    max-height: 19rem;
    overflow-y: auto;
}

.trash-icon {
    color: red;
}

.popup-member {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #ebebeb;
}

.delete-members {
    margin: 0.5rem 0;
    border-radius: 10rem;
    display: flex;
    padding: 0.6rem 0.5rem 0.4rem;
    align-items: center;
    justify-content: center;
}

.delete-off {
    border: 1px solid grey;
}

.delete-on {
    border: 1px solid red;
    background: red;
    color: white;
}

@media (min-width: 576px) {
    .grid-footer {
        border: none;
    }
}
