.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    flex-direction: column;
    position: relative;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 80vh;
    align-content: baseline;
}

.timeslot {
    background: #e6e6e6;
    height: 16px;
    width: 12%;
    margin: 1%;
    border-radius: 20px;
}

.green {
    background: lightgreen;
}
.yellow {
    background: yellow;
}
.orange {
    background: orange;
}
.red {
    background: red;
}

.grid-header {
    width: 100%;
    margin-bottom: 1rem;
}

.logo-container-grid {
    display: flex;
}

.logo-container-grid img {
    width: 3rem;
}

.chat-container {
    background: #e4e4e4;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
}

.chat-container {

}

.grid-section {

}

.grid-footer {
    position: relative;
}
