.name-section {
    max-width: 500px;
    position: relative;
    margin: auto;
    height: 100%;
}

.name-section input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    margin: 1rem 0;
}

.name-title {
    font-size: 1.4rem;
    margin: 2rem 1rem 0.5rem;
    color: grey;
}

.name-title span {
    color: #11e232;
}

.name-form {
    position: absolute;
    margin-bottom: 2rem;
    left: 0;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
}

button.generate-name {
    background: white;
    color: black;
    box-shadow: none;
    border: 3px dashed #13e234;
}

.error {
    color: red;
}

@media (max-width: 576px) {
    .name-form {
        bottom: 0;
    }
}
