.name-section {
    width: 100%;
}

.name-title {
    font-size: 1.4rem;
    margin: 2rem 1rem 0.5rem;
    color: grey;
}

.name-title span {
    color: var(--theme);
}

.name-form {
    position: absolute;
    margin-bottom: 2rem;
    left: 0;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
}

button.generate-name {
    background: white;
    color: black;
    box-shadow: none;
    margin: auto;
    width: 18rem;
    font-size: 2rem;
    border: 3px dashed var(--theme);
    display: block;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.submit-btn {
    width: 18rem;
    box-shadow: 1px 1px 3px 0px lightgrey;
    /* background: linear-gradient(20deg, black, #00000096); */
    /* background: linear-gradient(20deg, #2be849, #76ff8c); */
    border-radius: 10rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    padding-top: 0.6rem;
    margin-top: 1rem;
    border: 1px solid var(--theme);;
    background: var(--theme);
    font-size: 1rem;
}

.name-error {
    margin-top: 0.5rem
}

@media (max-width: 576px) {
    .name-form {
        bottom: 0;
    }
}
