.logo-container {
    width: 10rem;
    height: 10rem;
    margin: auto;
}

h1 {
    font-family: 'Manjari-Thin';
    margin: 0;
    color: white;
}

.home {
    padding: 2rem;
    height: 100vh;
    max-width: 500px;
    margin: auto;
}

.home-background {
    width: 100%;
    position: absolute;
    height: 40%;
    background: linear-gradient(45deg, black, #000000ab);
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 0 0 0 3rem;
    overflow: hidden;
}

.home-title-container {
    height: calc(40% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    color: #bfbfbf;
    font-size: 0.8rem;
}

.home-input {
    width: 18rem;
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    padding-left: 3rem;
    font-size: 0.9rem;
    height: 2.5rem;
    border-radius: 10rem;
}

.input-icon {
    position: absolute;
    border-radius: 10rem;
    background: var(--theme);
    color: white;
    margin-left: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    font-size: 0.8rem;
}

.home-input-container {
    width: 18rem;
    height: 2.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
 }

.main-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.submit-btn {
    width: 18rem;
    box-shadow: 1px 1px 3px 0px lightgrey;
    /* background: linear-gradient(20deg, black, #00000096); */
    /* background: linear-gradient(20deg, #2be849, #76ff8c); */
    border-radius: 10rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    padding-top: 0.6rem;
    margin-top: 1rem;
    border: 1px solid var(--theme);;
    background: var(--theme);
    font-size: 1rem;
}

.main-btn {
    border: none;
    font-size: 1rem;
    color: grey;
    width: 8rem;
    height: 9rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px 0px lightgrey;
    background: white;
}

.signin-icon, .users-icon {
    color: var(--theme);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.selected-button {
    border: 1px solid var(--theme);
}

.home-form {
    position: relative;
    margin: 2rem 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
}

.group-type-button {
    border-radius: 0.7rem;
    padding: 0.5rem;
    width: 8rem;
    border: none;
    margin: 0.5rem 1rem 0 1rem;
    padding-top: 0.7rem;
    background: none;
    box-shadow: 1px 1px 0px 1px lightgrey;
    transform: translate(0px, 0px);
    transition: transform 0.1s;
}

.group-toggle-container-inner {
    display: flex;
    height: 1.5rem;
    align-items: center;
    width: 18rem;
    margin: auto;
    justify-content: flex-end;
}

.group-toggle {
    width: 2.4rem;
    height: 1.2rem;
    background: #ffffff;
    box-shadow: inset 1px 1px 3px 1px #cacaca;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-switch {
    height: calc(1.2rem - 4px);
    width: calc(1.2rem - 4px);
    margin: 2px;
    background: var(--theme);
    border-radius: 10rem;
    transform: translateX(0rem);
    transition: all 0.1s linear;
}

.toggle-right {
    background: lightgrey;
    transform: translateX(1.2rem);
}

.group-toggle-title {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    color: grey;
}

.group-toggle-container {
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .home-form {
        bottom: 0;
        position: absolute;
        height: 60%;
    }
}
