.logo-container {
    width: 10rem;
    height: 10rem;
    margin: auto;
}

h1 {
    font-family: 'Manjari-Thin';
    margin: 0;
    color: white;
}

.home {
    padding: 2rem;
    height: 100vh;
    max-width: 500px;
    margin: auto;
}

.home-background {
    width: 100%;
    position: absolute;
    height: 40%;
    background: linear-gradient(45deg, black, #000000ab);
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 0 0 0 3rem;
    overflow: hidden;
}

.home-title-container {
    height: calc(40% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    color: #bfbfbf;
    font-size: 0.8rem;
}

.home-input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
}

.main-btn {
    width: 100%;
    margin: 0.5rem 0;
    border: none;
    height: 5rem;
    border-radius: 1rem;
    /* background: #fdfdfd; */
    background: #000000;
    font-size: 1.5rem;
    box-shadow: 1px 1px 6px -3px grey;
    padding-top: 0.4rem;
    display: flex;
    justify-content: center;
    color: white;
}

.signin-icon, .users-icon {
    color: var(--blue);
}

.home-form {
    position: relative;
    margin: 2rem 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
}

.group-type-button {
    border-radius: 0.7rem;
    padding: 0.5rem;
    width: 8rem;
    border: none;
    margin: 0.5rem 1rem 0 1rem;
    padding-top: 0.7rem;
    background: none;
    box-shadow: 1px 1px 0px 1px lightgrey;
    transform: translate(0px, 0px);
    transition: transform 0.1s;
}

/* .private {
    background: #ff8e8e;
    border: none;
    box-shadow: inset 2px 2px 3px #9e5757;
    transform: translate(1px, 1px);
} */

.private, .public {
    background: #75cdff;
    border: none;
    box-shadow: inset 2px 2px 3px #5597bd;
    transform: translate(1px, 1px);
    color: white;
}

@media (max-width: 576px) {
    .home-form {
        bottom: 0;
        position: absolute;
    }
}
