@font-face {
  font-family: 'Manjari';
  src: url('./assets/Manjari-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Manjari-Bold';
  src: url('./assets/Manjari-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Manjari-Thin';
  src: url('./assets/Manjari-Thin.ttf')  format('truetype');
}

:root {
    --green: #67ff7f;
    --blue: #75cdff;
    --yellow: #fff966;
    --red: #ff8e8e;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manjari', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root, .App, #grid {
    height: 100%;
}

#grid {
    display: flex;
    justify-content: center;
}

.App {
  text-align: center;
}

button {
    font-family: 'Manjari';
}

input:focus, input:active {
    outline: none;
    box-shadow: 0px 0px 4px 0px #75cdff;
    border: 1px solid transparent;
}

input::placeholder {
    color: lightgrey;
}

button:focus, button:active {
    outline: none
}

.error {
    color: red;
}

@media {max-width: 768px} {
    html {
        font-size: 12px;
    }
}

@media {max-width: 1050px} {
    html {
        font-size: 14px;
    }
}

@media {min-width: 1051px} {
    html {
        font-size: 16px;
    }
}
